<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather.png"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <title>Page not found</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>{{404Message}}</p>
</div>
{{>footer}}
</body>
</html>
