<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather.png"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <title>About</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site is created by Test for weather information.</p>
    <img class="image" src="/images/test.png" alt="Profile image"/>
</div>
{{>footer}}
</body>
</html>
